.sessionstime{
    /* minsize , viewport width age bishtar az minsize , maxsize */
    font-size: clamp(12px,1.1vw,40px);
}


.custom-today-day {
  color: #abf0e0 !important;
  border: 1px solid #02A27F !important;
}


.custom-calendar {
  box-shadow: 0 1em 3em rgba(3, 178, 201, 0.3);
}



.sessionstimee {
    font-size: 14px 
   
  }
  
  @media (max-width: 1500px) {
    .sessionstimee {
    
      font-size: 12px !important;
    }
  }
  
  @media (max-width: 1200px) {
    .sessionstimee {
       
      font-size: 11px !important;
    }
  }
  
  @media (max-width: 768px) {
    .sessionstimee {
    
      font-size: 10px !important;
    }
  }
  
  /* Large screens */
  @media (min-width: 2500px) {
    .sessionstimee {
    
      font-size: 13px !important;
    }
  }

.responsive-calendar {
  /* by setting font-size, all the elements will correspond */
  /* margin-top: 2vh; */
  margin-left: 5vw;
  
  /* box-shadow: 0 1em 3em rgba(203, 253, 22, 0.973);
   */
  font-size: 10px !important; /* default to 10px */
}

@media (max-width: 1500px) {
  .responsive-calendar {
    margin-left: 5vw;
    /* box-shadow: 0 1em 3em rgba(191, 255, 41, 0.925); */
    /* width: 30vw; */
    /* justify-self: center; */ 
    /* margin-top: 2vh; */
    font-size: 10px !important;
  }
}

@media (max-width: 1200px) {
  .responsive-calendar {
      /* justify-self: center;
    align-self:center; */
    /* margin-top: 3vh; */
    /* margin-left: 5vw; */
    /* box-shadow: 0 1em 3em rgba(236, 232, 26, 0.911); */
    font-size: 8px !important;
  }
}

@media (max-width: 768px) {
  .responsive-calendar {
    /* justify-self: center;
    align-self:center; */
    /* margin-top: 5vh; */
    /* box-shadow: 0 1em 3em rgba(216, 219, 13, 0.897); */
    font-size: 8px !important;
  }
}

/* Large screens */
@media (min-width: 2500px) {
  .responsive-calendar {
    margin-left: 5vw;
    /* width: 30vw; */
    /* align-self:center; */
    /* margin-top: 10vh; */
    /* box-shadow: 0 1em 3em rgba(216, 240, 0, 0.938); */
    font-size: 12px !important;
  }
}




.editdurationmodal {
  width: 200 
 
}

@media (max-width: 1500px) {
  .editdurationmodal {
  
    width: 300 !important;
  }
}

@media (max-width: 1200px) {
  .editdurationmodal {
     
    width: 300 !important;
  }
}

@media (max-width: 768px) {
  .editdurationmodal {
  
    width: 200 !important;
  }
}

/* Large screens */
@media (min-width: 2500px) {
  .editdurationmodal {
  
    width: 300 !important;
  }
}





.sumbitbuttons {
  margin-right: 200 
 
}

@media (max-width: 1500px) {
  .sumbitbuttons {
  
    margin-right: 300 !important;
  }
}

@media (max-width: 1200px) {
  .sumbitbuttons {
     
    margin-right: 300 !important;
  }
}

@media (max-width: 768px) {
  .sumbitbuttons {
  
    margin-right: 200 !important;
    
  }
}

/* Large screens */
@media (min-width: 2500px) {
  .sumbitbuttons {
  
    margin-right: 300 !important;
  }
}
