.home {    
     justify-content: center;
     align-items:center;
     padding-top: 5%;
     padding-left: 5%;
     padding-right: 5%;
     flex-direction: column;
  }

 .homePage .card{
    width: 100%;
    height: 100%;
    border-radius: 5%;
   
  }
  .homePage .card img{
    justify-content: center;
   
   
  }
  .homePage .card-columns {
    width: 100%;
    align-items: center;
    } 
    

